#content html {
	font: 11px/normal Arial, sans-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
#content body {
	font: 11px/normal Arial, sans-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
form {
	font: 11px/normal Arial, sans-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
fieldset {
	font: 11px/normal Arial, sans-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
#content body {
	font: 11px/normal Arial, sans-serif; width: 760px; font-size-adjust: none; font-stretch: normal;
}
a {
	color: rgb(102, 0, 153); text-decoration: underline;
}
a.img {
	border: currentColor; border-image: none; text-decoration: none;
}
sup {
	font-size: 70%;
}
h1 {
	color: rgb(102, 0, 153); font-size: 18px; font-weight: normal; margin-bottom: 10px;
}
h2 {
	color: rgb(102, 0, 153); font-size: 15px;
}
h2.title {
	color: rgb(0, 0, 0); font-size: 15px;
}
h2.appname {
	margin: 5px 0px 10px 15px;
}
#content h3 {
	color: rgb(0, 0, 0); font-size: 13px;
}
h3.sectionhead {
	margin: 0px 0px 5px; padding: 0px 0px 4px; color: rgb(0, 0, 0); font-size: 13px; font-weight: normal; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
p {
	margin-bottom: 10px;
}
th {
	text-align: left;
}
td p {
	margin-bottom: 5px;
}
td {
	vertical-align: top;
}
ol {
	margin: 0px 0px 8px 24px;
}
#content strong {
	font-weight: bold;
}
.bullets {
	margin: 0px 0px 10px; padding: 0px 0px 0px 20px; list-style-type: square;
}
#uberhelp {
	list-style: none; margin: 0px; width: 65px; height: 18px; float: right; position: relative;
}
#uberhelp a {
	background: url("../images/icon_help_new.gif") no-repeat 0px 0px; padding: 0px 6px 0px 25px; width: 34px; height: 18px; color: rgb(0, 0, 0); line-height: 18px; font-size: 11px; text-decoration: none; display: block; cursor: pointer;
}
#uberhelp span {
	background: url("../images/icon_help_new.gif") no-repeat 0px 0px; padding: 0px 6px 0px 25px; width: 34px; height: 18px; color: rgb(0, 0, 0); line-height: 18px; font-size: 11px; text-decoration: none; display: block; cursor: pointer;
}
#uberhelp a.on {
	background-position: 0px -82px;
}
#uberhelp ul.showhelpmenu {
	left: -117px;
}
#uberhelp ul.hidehelpmenu {
	left: -999em;
}
#uberhelp ul {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 102, 102) rgb(102, 102, 102) currentColor; list-style: none; border-image: none; left: -999em; top: 18px; position: absolute; background-color: rgb(255, 255, 255);
}
#uberhelp li li a {
	padding: 1px 5px; width: 170px; color: rgb(32, 32, 32); text-decoration: none; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid; display: block; background-image: none; background-color: rgb(244, 244, 244);
}
#uberhelp li li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(102, 0, 153);
}
#controls {
	float: right;
}
#controls li {
	padding: 3px 10px 3px 0px;
}
#controls .demo {
	background: url("../images/icon_demo.gif") no-repeat; padding: 3px 10px 0px 22px; height: 19px;
}
.morelink {
	background: url("../images/icon_plus_purple.gif") no-repeat left; width: 9px; height: 9px; padding-left: 15px; display: inline;
}
a.more {
	background: url("../images/icon_plus_purple.gif") no-repeat left; width: 9px; height: 9px; padding-left: 15px; display: inline;
}
.lesslink {
	background: url("../images/icon_minus_purple.gif") no-repeat left; width: 9px; height: 9px; padding-left: 15px; display: inline;
}
a.less {
	background: url("../images/icon_minus_purple.gif") no-repeat left; width: 9px; height: 9px; padding-left: 15px; display: inline;
}
.formedit {
	background: url("../images/icon_plus_minus_purple.gif") no-repeat; width: 9px; height: 9px; text-indent: -20000em; font-size: 9px; text-decoration: none; margin-left: 10px;
}
.toggleSubSection {
	background: url("../images/icon_plus_minus_purple.gif") no-repeat; width: 9px; height: 9px; text-indent: -20000em; font-size: 9px; text-decoration: none; margin-left: 10px;
}
.formedit span {
	visibility: hidden;
}
.toggleSubSection span {
	visibility: hidden;
}
.express {
	color: rgb(255, 102, 0);
}
.ground {
	color: rgb(51, 204, 0);
}
#content {
	padding: 20px 10px 10px;
}
.appwrap {
	width: 745px;
}
#appnav {
	list-style: none; margin: 0px; height: 20px;
}
#appnav li {
	margin: 0px 2px 0px 0px; float: left;
}
#appnav li.last {
	margin-right: 0px;
}
#appnav li a {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 102, 102) rgb(102, 102, 102) currentColor; padding: 2px 2px 2px 6px; border-image: none; width: 160px; height: 15px; color: rgb(32, 32, 32); font-size: 11px; font-weight: normal; text-decoration: none; display: block; background-color: rgb(244, 244, 244);
}
#appnav li a.more {
	background: url("../images/bg_arrows_appnav.gif") no-repeat right top rgb(244, 244, 244);
}
#appnav li a.more:hover {
	background-position: right bottom;
}
#appnav li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(102, 0, 153);
}
#appnav li a:hover li a {
	color: rgb(32, 32, 32); background-color: rgb(244, 244, 244);
}
#appnav li.on a {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; background-color: rgb(102, 102, 102);
}
#appnav li.on a:hover {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; background-color: rgb(102, 102, 102);
}
#appnav li.on a.more {
	background-image: url("../images/bg_arrows_appnav_on.gif");
}
#appnav li li {
	margin: 0px; float: none;
}
#appnav li ul {
	left: -999em; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
#appnav li ul a {
	width: 175px; font-size: 11px;
}
#appnav li.myfedex a {
	width: 100px;
}
#appnav li.myprofile a {
	width: 100px;
}
.steps {
	margin: 13px 10px 10px 14px;
}
p.denotereqfield {
	margin-left: 14px;
}
.calendarcontainer {
	display: none; position: relative;
}
.calendar {
	border: 1px solid rgb(187, 187, 187); border-image: none; left: 0px; top: 0px; display: block; position: absolute;
}
.calendar th {
	padding: 3px 5px 2px; text-align: center; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-color: rgb(255, 255, 255);
}
.calendar td {
	padding: 0px; text-align: right; background-color: rgb(230, 230, 230);
}
.calendar td a {
	padding: 3px 5px; width: 12px; height: 12px; color: rgb(32, 32, 32); text-decoration: none; display: block;
}
.calendar .today a {
	color: rgb(255, 255, 255); background-color: rgb(153, 153, 153);
}
.calendar .inthepast {
	padding: 3px 5px; width: 12px; height: 12px; color: rgb(170, 170, 170);
}
body.ship table.shipform .calendar .nextmonth {
	padding: 3px 5px; width: 12px; height: 12px; color: rgb(170, 170, 170);
}
.calendar a:hover {
	color: rgb(255, 255, 255); background-color: rgb(102, 0, 153);
}
#theCal .calendarcontainer {
	display: none; position: relative;
}
#theCal .calendar {
	border: 1px solid rgb(187, 187, 187); border-image: none; left: 0px; top: 0px; display: block; position: absolute;
}
#theCal .calendar th {
	padding: 3px 5px 2px; text-align: center; font-size: 12px !important; font-weight: normal !important; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; background-color: rgb(255, 255, 255);
}
#theCal .calendar td {
	padding: 0px; text-align: right; background-color: rgb(230, 230, 230);
}
#theCal .calendar td a {
	padding: 3px 5px; width: 12px; height: 12px; color: rgb(32, 32, 32); text-decoration: none; display: block;
}
#theCal .calendar .today a {
	color: rgb(255, 255, 255); background-color: rgb(153, 153, 153);
}
#theCal .calendar .inthepast {
	padding: 3px 5px; width: 12px; height: 12px; color: rgb(170, 170, 170);
}
body.ship table.shipform .calendar .nextmonth {
	padding: 3px 5px; width: 12px; height: 12px; color: rgb(170, 170, 170);
}
#theCal .calendar a:hover {
	color: rgb(255, 255, 255); background-color: rgb(102, 0, 153);
}
.tooltip {
	padding-left: 2px; text-decoration: none; display: inline;
}
.tooltip span {
	color: rgb(102, 0, 153); cursor: pointer;
}
.tooltip div {
	margin: 0px; padding: 0px; border: 2px solid rgb(204, 204, 204); border-image: none; left: -200000px; top: 12px; width: 175px; color: rgb(102, 102, 102); line-height: normal; overflow: hidden; font-size: 11px; text-decoration: none; position: absolute; z-index: 10; background-color: rgb(255, 255, 255) !important;
}
.tooltip div p {
	margin: 0px; padding: 5px; font-size: 11px; font-weight: normal; display: block; background-color: rgb(255, 255, 255) !important;
}
.tooltip div h3 {
	margin: 0px; padding: 3px 5px; width: auto; color: rgb(51, 51, 51); font-size: 11px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; display: block; background-color: rgb(255, 255, 255) !important;
}
.tooltip .on {
	left: 0px;
}
.fineprint {
	font-size: 10px;
}
fieldset {
	margin: 0px 0px 15px; padding: 0px 0px 15px; border: 1px solid rgb(139, 80, 168); border-image: none; background-color: rgb(245, 245, 245);
}
fieldset.full {
	margin-right: 14px; margin-left: 14px;
}
fieldset h2 {
	margin: 0px; padding: 4px 7px; color: rgb(102, 0, 153); font-weight: bold; border-bottom-color: rgb(102, 0, 153); border-bottom-width: 2px; border-bottom-style: solid;
}
fieldset label span {
	padding: 0px 3px 0px 0px; float: left; display: block;
}
fieldset label span.prompt {
	padding: 4px 3px 0px 16px; width: 100px;
}
fieldset label.full {
	padding: 4px 3px 0px 16px;
}
fieldset label span.required {
	background-position: 6px 6px; background-image: url("../images/icon_required.gif"); background-repeat: no-repeat;
}
fieldset label {
	margin: 0px; padding: 4px 0px 0px; clear: both; display: block;
}
fieldset label.inline {
	display: inline;
}
fieldset.buttons {
	padding: 0px; border: currentColor; border-image: none; text-align: right; margin-top: -5px; background-color: rgb(255, 255, 255);
}
fieldset.buttons label {
	padding-right: 0px;
}
fieldset label.buttons {
	text-align: right; padding-right: 10px;
}
fieldset label.buttons input {
	margin: 0px;
}
fieldset.results label {
	padding: 0px;
}
fieldset.results span {
	padding-top: 0px;
}
fieldset span.results {
	padding-top: 4px;
}
fieldset.results span.prompt {
	padding: 0px 3px 0px 7px; width: 109px;
}
fieldset .colleft .textfull {
	width: 200px;
}
fieldset .colright .textfull {
	width: 200px;
}
fieldset .colleft .selectfull {
	width: 205px;
}
fieldset .colright .selectfull {
	width: 205px;
}
fieldset.preferences {
	border: 1px solid rgb(102, 102, 102); border-image: none; background-color: rgb(242, 243, 255);
}
fieldset.preferences h2 {
	margin: 0px; padding: 4px 7px; color: rgb(102, 0, 153); font-size: 15px; font-weight: bold; border-bottom-color: rgb(102, 0, 153); border-bottom-width: 2px; border-bottom-style: solid;
}
fieldset h3 {
	margin: 5px 7px; color: rgb(0, 0, 0); font-size: 13px; paddding: 0 0 4px 0;
}
fieldset h3.sectionhead {
	margin: 5px 7px; padding: 0px 0px 4px; color: rgb(0, 0, 0); font-size: 13px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
#content fieldset h3.sectionhead {
	margin: 5px 7px; padding: 0px 0px 4px; color: rgb(0, 0, 0); font-size: 13px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid;
}
fieldset h3.on {
	font-weight: bold;
}
fieldset .colleft h3 {
	margin: 0px 0px 5px;
}
fieldset .colright h3 {
	margin: 0px 0px 5px;
}
fieldset .colleft h3.sectionhead {
	margin: 0px 0px 5px;
}
fieldset .colright h3.sectionhead {
	margin: 0px 0px 5px;
}
fieldset p {
	margin: 5px 7px;
}
fieldset label.summary {
	font-weight: bold;
}
fieldset div.summary {
	margin: 5px 7px; font-weight: bold;
}
fieldset div.summary p {
	margin: 8px 0px 5px;
}
fieldset div.edit {
	margin: 8px 0px 5px;
}
fieldset.optional {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
fieldset.optional h2 {
	color: rgb(0, 0, 0); font-size: 15px; font-weight: normal; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
fieldset a.help {
	background-position: left; margin: 3px 0px 0px; padding: 0px 0px 0px 15px; color: rgb(0, 0, 0) !important; text-transform: capitalize; font-size: 12px; font-weight: bold; float: right; background-image: url("../images/icon_help_small.gif"); background-repeat: no-repeat;
}
fieldset h2 a.help {
	background-position: left; margin: 3px 0px 0px; padding: 0px 0px 0px 15px; color: rgb(0, 0, 0) !important; text-transform: capitalize; font-size: 12px; font-weight: bold; float: right; background-image: url("../images/icon_help_small.gif"); background-repeat: no-repeat;
}
fieldset h2 a.edit {
	margin: 3px 0px 0px 10px; color: rgb(0, 0, 0) !important; float: right;
}
fieldset h2 a.hide {
	margin: 3px 0px 0px 10px; color: rgb(0, 0, 0) !important; float: right;
}
fieldset h3 a.edit {
	margin: 3px 0px 0px 10px; color: rgb(0, 0, 0) !important; float: right;
}
fieldset h3 a.hide {
	margin: 3px 0px 0px 10px; color: rgb(0, 0, 0) !important; float: right;
}
.selectedaccounts {
	padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
p.checktext {
	width: 280px; padding-bottom: 5px; float: left; display: block;
}
div.checktext {
	width: 280px; padding-bottom: 5px; float: left; display: block;
}
span.checktext {
	width: 280px; padding-bottom: 5px; float: left; display: block;
}
input.checktext {
	margin: 0px 0px 0px 12px; float: left;
}
span.checktext p {
	width: 280px; padding-bottom: 5px; float: left; display: block;
}
span.checktext input {
	width: 280px; padding-bottom: 5px; float: left; display: block;
}
#content .divider {
	margin: 5px 7px; height: 1px; overflow: hidden; clear: both; border-top-color: rgb(187, 187, 187); border-bottom-color: rgb(255, 255, 255); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.utility li {
	list-style: none; margin: 0px; padding: 0px 4px 0px 0px; float: left;
}
.utility a {
	padding-right: 0.4em;
}
#apputility {
	margin: 13px 5px 10px 10px; float: right;
}
.colleft {
	margin: 0px; padding: 0px 15px 0px 14px; width: 350px; float: left;
}
.colright {
	margin: 0px; padding: 0px; width: 350px; float: left;
}
.coltripleleft {
	margin: 0px; padding: 0px 0px 0px 7px; width: 220px; float: left;
}
.coltriplemiddle {
	margin: 0px; padding: 0px; width: 225px; float: left;
}
.coltripleright {
	margin: 0px; padding: 0px; width: 225px; float: left;
}
.coltripleleft h3 {
	
}
.coltripleright h3 {
	
}
.coltriplemiddle h3 {
	
}
.coltripleleft input {
	margin: 0px;
}
.coltripleright input {
	margin: 0px;
}
.coltriplemiddle input {
	margin: 0px;
}
fieldset .colleft {
	width: 335px;
}
fieldset .colright {
	width: 335px;
}
fieldset .colright p {
	margin: 5px 0px;
}
fieldset .colleft p {
	margin: 5px 0px;
}
fieldset .colsm p {
	margin: 5px 0px;
}
fieldset .colsm {
	padding: 10px 0px 5px 15px; width: 159px; float: left;
}
fieldset .colright label.buttons {
	text-align: right; padding-top: 15px; padding-right: 0px;
}
fieldset .colleft label.buttons {
	text-align: right; padding-top: 15px; padding-right: 0px;
}
.note {
	margin: 0px 14px 15px;
}
p.intro {
	font-size: 12px;
}
div.intro {
	margin: 0px 14px;
}
img.upsell {
	margin: 0px 14px 15px 15px; float: right;
}
.notedata {
	padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; font-size: 13px; background-color: rgb(255, 255, 255);
}
.capacitychart {
	margin: 10px 0px 10px 8px;
}
.capacitychart p {
	margin: 0px; width: 200px; background-color: rgb(153, 153, 153);
}
.capacitychart img {
	border: currentColor; border-image: none; width: 190px; height: 6px;
}
.paging {
	margin: 0px 14px 5px; float: right;
}
.searchby {
	display: none;
}
#content .alert {
	background: url("../images/icon_alert_trans.gif") no-repeat; margin: 5px; padding: 2px 10px 0px 22px; font-size: 11px;
}
.alert em {
	color: rgb(102, 0, 153); font-size: 13px; font-style: normal; font-weight: bold; margin-bottom: 4px; display: block;
}
#content .alert strong {
	color: rgb(102, 0, 153); font-size: 13px; font-style: normal; font-weight: bold; margin-bottom: 4px; display: block;
}
.alertmsg {
	margin: 0px 0px 14px; padding: 6px 6px 0px; border: 1px solid rgb(187, 187, 187); border-image: none; color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.outage {
	margin: 0px 0px 14px; padding: 6px 6px 0px; border: 1px solid rgb(187, 187, 187); border-image: none; color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.timeout {
	margin: 0px 0px 14px; padding: 6px 6px 0px; border: 1px solid rgb(187, 187, 187); border-image: none; color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.message {
	margin: 0px 0px 14px; padding: 6px 6px 0px; border: 1px solid rgb(187, 187, 187); border-image: none; color: rgb(0, 0, 0); background-color: rgb(230, 230, 230);
}
.alertmsg h2 {
	background: url("../images/icon_alert_trans.gif") no-repeat; padding: 2px 10px 0px 22px; height: 20px;
}
.outage h2 {
	background: url("../images/icon_alert_trans.gif") no-repeat; padding: 2px 10px 0px 22px; height: 20px;
}
.timeout h2 {
	background: url("../images/icon_alert_trans.gif") no-repeat; padding: 2px 10px 0px 22px; height: 20px;
}
.alertmsg p {
	margin: 2px 10px 0px 22px;
}
.outage p {
	margin: 2px 10px 0px 22px;
}
.timeout p {
	margin: 2px 10px 0px 22px;
}
.gblerror {
	margin: 10px 14px 14px; padding: 6px 6px 0px; border: 1px solid rgb(187, 187, 187); border-image: none; background-color: rgb(230, 230, 230);
}
.gblerror h2 {
	background: url("../images/icon_alert_error.gif") no-repeat; padding: 2px 10px 0px 22px; height: 20px; color: rgb(255, 0, 0);
}
.gblerror p {
	margin: 2px 15px 10px 22px; color: rgb(255, 0, 0);
}
.cleaner {
	background: none; margin: 0px; padding: 0px; border: currentColor; border-image: none; height: 1px; clear: both; font-size: 1px;
}
h2.alt {
	color: rgb(0, 0, 0);
}
h3.alt {
	font-weight: bold; margin-bottom: 5px;
}
.formmodule p {
	font-size: 11px;
}
div.buttons {
	padding: 14px; border: currentColor; border-image: none; text-align: right;
}
fieldset div.buttons {
	padding: 0px 14px;
}
a.clicktip {
	position: relative;
}
a.clicktip span {
	padding: 0px; border: 2px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 20px; width: 200px; color: rgb(102, 102, 102); line-height: normal; overflow: hidden; font-size: 11px; text-decoration: none; display: none; position: absolute; z-index: 1000; background-color: rgb(255, 255, 255);
}
a.clicktip span h3 {
	padding: 5px; width: auto; color: rgb(32, 32, 32); font-size: 11px; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid; display: block;
}
a.clicktip span p {
	padding: 5px;
}
.survey input {
	margin-left: 30px;
}
table.details {
	width: 100%;
}
table.details td {
	padding: 2px 10px 3px 0px; width: 50%;
}
.toggler {
	cursor: pointer;
}
.shipping-address {
	clear: left; display: none;
}
.billing-address {
	clear: left; display: none;
}
label.bold {
	font-weight: bold;
}
.myfx-container {
	position: relative;
}
#btn-profile {
	padding: 4px 0px 0px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 70px; top: 37px; width: 77px; height: 16px; color: rgb(0, 0, 0); text-decoration: none; display: block; position: absolute;
}
#btn-home {
	padding: 4px 0px 0px 10px; border: 1px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 37px; width: 57px; height: 16px; color: rgb(0, 0, 0); text-decoration: none; display: block; position: absolute;
}
#myfx-buttons {
	padding: 0px 0px 0px 14px; left: 0px; top: 385px; width: 722px; text-align: right; position: absolute;
}
.account-toggle input {
	margin: 0px -2px 0px -3px;
}
.dynamicgray {
	background: rgb(230, 230, 230); color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;
}
.fieldsetborder {
	border: 1px solid rgb(139, 80, 168); border-image: none;
}
