a:link {
	color: rgb(102, 0, 153);
}
a:active {
	color: rgb(102, 0, 153);
}
a:visited {
	color: rgb(153, 51, 153);
}
a.newsalert:link {
	color: rgb(255, 0, 0); font-size: 11px;
}
a.newsalert:active {
	color: rgb(255, 0, 0); font-size: 11px;
}
a.newsalert:visited {
	color: rgb(255, 0, 0); font-size: 11px;
}
a.white:link {
	color: rgb(255, 255, 255);
}
a.white:active {
	color: rgb(255, 255, 255);
}
a.white:visited {
	color: rgb(255, 255, 255);
}
#content {
	padding: 20px 10px 10px;
}
#content body {
	margin: 0px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);
}
#content h1 {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: normal; margin-top: 0px; margin-bottom: 0px;
}
#content h2 {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: normal; margin-top: 0px; margin-bottom: 0px;
}
#content h3 {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: normal; margin-top: 0px; margin-bottom: 0px;
}
#content h4 {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: normal; margin-top: 0px; margin-bottom: 0px;
}
#content h5 {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: normal; margin-top: 0px; margin-bottom: 0px;
}
#content h6 {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-weight: normal; margin-top: 0px; margin-bottom: 0px;
}
#content p {
	color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px;
}
.content {
	color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px;
}
#content div {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px;
}
form {
	margin: 0px; padding: 0px;
}
hr {
	width: 100%; height: 1px; clear: both;
}
ol {
	margin-top: 0px; margin-bottom: 0px;
}
ol li {
	margin-left: -8px;
}
sup {
	font-size: 75%;
}
table {
	padding: 0px; color: rgb(0, 0, 0); margin-top: 0px; margin-left: 0px;
}
td {
	font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px;
}
tr.resultsgray {
	height: 30px; font-size: 11px; background-color: rgb(230, 230, 230);
}
tr.resultswhite {
	height: 30px; font-size: 11px; background-color: rgb(255, 255, 255);
}
tr.resultsgraysmall {
	height: 15px; font-size: 11px; background-color: rgb(230, 230, 230);
}
tr.resultswhitesmall {
	height: 15px; font-size: 11px; background-color: rgb(255, 255, 255);
}
ul {
	margin-top: 0px; margin-bottom: 0px;
}
#content .afooternav {
	color: rgb(102, 0, 153); font-size: 11px;
}
.autilitynav {
	color: rgb(102, 0, 153); font-size: 11px;
}
.articleheader {
	color: rgb(102, 0, 153); font-size: 11px;
}
.boldlink {
	color: rgb(102, 0, 153); font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none;
}
.buttongray {
	font-size: 12px;
}
.buttonpurple {
	color: rgb(255, 255, 255); font-size: 12px; background-color: rgb(102, 0, 153);
}
.error {
	color: rgb(255, 0, 0); font-size: 12px; font-weight: 600;
}
.footertext {
	color: rgb(0, 0, 0); font-size: 11px;
}
.footnote {
	font-size: 70%; vertical-align: super;
}
.formtext {
	color: rgb(0, 0, 0); font-family: "Arial", helvetica, Verdana, Sans-serif; font-size: 12px;
}
.mainheader1 {
	color: rgb(102, 0, 153); font-size: 18px; font-weight: normal;
}
.mainheader2 {
	color: rgb(153, 153, 153); font-size: 14px; font-weight: normal;
}
.nnform {
	margin: 0px; padding: 0px; font-family: "Courier New", Courier, monospace; font-size: 11px;
}
.nnform2 {
	padding-top: 1px; font-family: "Courier New", Courier, monospace; font-size: 11px; margin-top: 0px; vertical-align: top;
}
.phonenumber {
	color: rgb(102, 0, 153); font-weight: bold;
}
.resultstableheader {
	color: rgb(255, 255, 255); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 11px; font-weight: bold;
}
.resultstable {
	color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 11px;
}
.resultstablegray {
	background: rgb(204, 204, 204); color: rgb(0, 0, 0); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 11px;
}
.sidenav {
	line-height: normal; font-size: 11px;
}
.small {
	font-size: 11px;
}
.stepsoff {
	color: rgb(153, 153, 153); font-size: 12px; font-weight: 600;
}
.stepson {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: 600;
}
.sectionheader {
	color: rgb(102, 0, 153); font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 13px; font-weight: 600;
}
.subheader1 {
	color: rgb(102, 0, 153); font-size: 12px; font-weight: 600;
}
.subheader2 {
	color: rgb(102, 0, 153); font-size: 11px; font-weight: 600;
}
.subheaderblack1 {
	color: rgb(0, 0, 0); font-size: 12px; font-weight: 600;
}
.subheaderwhite1 {
	color: rgb(255, 255, 255); font-size: 12px; font-weight: 600;
}
.subheaderblack2 {
	color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;
}
.right-to-left {
	unicode-bidi: bidi-override; direction: rtl;
}
.left-to-right {
	unicode-bidi: bidi-override; direction: ltr;
}
.rateError {
	padding-top: 10px;
}
.rateError label {
	width: 700px; color: rgb(255, 0, 0); padding-left: 10px; font-size: 13px; font-weight: bold;
}
.alerticon {
	background-position: 0px 0px; padding: 0px 0px 0px 9px; width: 15px; height: 15px; float: left; background-repeat: no-repeat;
}
