div {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
.content {
	margin: 0px; padding: 0px;
}
p {
	padding: 0px; margin-bottom: 10px;
}
table {
	margin: 0px; padding: 0px;
}
th {
	text-align: left; font-size: 15px; vertical-align: top;
}
td {
	font-size: 11px; vertical-align: top;
}
ul {
	margin-top: 0px; margin-bottom: 0px;
}
.appwrap {
	border-width: 13px 1px 1px; border-style: solid; border-color: rgb(102, 102, 102); border-image: none; width: 745px;
}
.appname {
	margin-bottom: 5px;
}
p.denotereqfield {
	background: url("../images/icon_required.gif") no-repeat 0px 2px; margin: 0px 0px 5px; padding-left: 10px; font-size: 11px;
}
.alertwrap {
	color: rgb(102, 0, 153); padding-left: 10px; font-size: 11pt; font-weight: bold;
}
.alertwrap2 {
	color: rgb(102, 0, 153); padding-left: 10px; font-size: 14pt; font-weight: 500;
}
table.formmodule {
	width: 100%;
}
.formmodule {
	border: 1px solid rgb(139, 80, 168); border-image: none; background-color: rgb(245, 245, 245);
}
.formmodule th {
	padding: 4px 7px; text-align: left; color: rgb(102, 0, 153); font-weight: bold; border-bottom-color: rgb(102, 0, 153); border-bottom-width: 2px; border-bottom-style: solid;
}
.formmodule td {
	padding: 4px 7px 0px; vertical-align: top;
}
.formmodule td.prompt {
	padding: 8px 3px 2px 16px; width: 100px;
}
.formmodule td.required {
	background: url("../images/icon_required.gif") no-repeat 6px 10px;
}
.optional {
	border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(255, 255, 255);
}
.optional th {
	color: rgb(0, 0, 0); font-weight: normal; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 2px; border-bottom-style: solid;
}
.alternate th {
	width: 161px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.formmodulesectionhead {
	margin: 0px 0px 5px; color: rgb(0, 0, 0); font-size: 13px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; paddding: 0 0 4px 0;
}
h3.sectionhead {
	margin: 0px 0px 5px; color: rgb(0, 0, 0); font-size: 13px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; paddding: 0 0 4px 0;
}
.formmodulesubhead {
	margin: 0px; color: rgb(0, 0, 0); font-size: 13px; paddding: 0 0 4px 0;
}
h3.subhead {
	margin: 0px; color: rgb(0, 0, 0); font-size: 13px; paddding: 0 0 4px 0;
}
.formmodule .summary {
	font-weight: bold;
}
.optional .summary {
	font-weight: normal;
}
a.edit {
	background-position: left; padding: 0px 0px 0px 15px; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; background-image: url("../images/icon_a_edit.gif"); background-repeat: no-repeat;
}
a.hide {
	background-position: left; padding: 0px 0px 0px 15px; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; background-image: url("../images/icon_a_hide.gif"); background-repeat: no-repeat;
}
a.helpsmall {
	background-position: left; padding: 0px 0px 0px 15px; color: rgb(0, 0, 0) !important; font-size: 12px; font-weight: bold; background-image: url("../images/icon_a_help_small.gif"); background-repeat: no-repeat;
}
a:link {
	color: rgb(102, 0, 153);
}
a:active {
	color: rgb(102, 0, 153);
}
a:visited {
	color: rgb(153, 51, 153);
}
a.newsalert:link {
	color: rgb(255, 0, 0); font-size: 11px;
}
a.newsalert:active {
	color: rgb(255, 0, 0); font-size: 11px;
}
a.newsalert:visited {
	color: rgb(255, 0, 0); font-size: 11px;
}
a.white:link {
	color: rgb(255, 255, 255);
}
a.white:active {
	color: rgb(255, 255, 255);
}
a.white:visited {
	color: rgb(255, 255, 255);
}
a.edit:visited {
	color: rgb(0, 0, 0);
}
a.hide:visited {
	color: rgb(0, 0, 0);
}
a.helpsmall:visited {
	color: rgb(0, 0, 0);
}
.buttonpurple {
	background: url("../images/bg_button_purple.gif") repeat-x rgb(102, 0, 153); padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 20px; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; margin-right: 8px;
}
.buttongray {
	background: url("../images/bg_button_gray.gif") repeat-x rgb(102, 102, 102); margin: 0px; padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 20px; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold;
}
input {
	font: 11px/normal Arial, Helvetica, Verdana, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 11px/normal Arial, Helvetica, Verdana, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 11px/normal Arial, Helvetica, Verdana, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.textfull {
	width: 214px;
}
.texthalf {
	width: 106px;
}
.text1quarter {
	width: 50px;
}
.text3quarters {
	width: 173px;
}
.text1third {
	width: 73px;
}
.text2thirds {
	width: 153px;
}
.selectfull {
	width: 220px;
}
.selecthalf {
	width: 110px;
}
.select1quarter {
	width: 57px;
}
.select3quarters {
	width: 177px;
}
.select1third {
	width: 77px;
}
.select2thirds {
	width: 157px;
}
.textareafull {
	width: 223px;
}
.textareahalf {
	width: 113px;
}
.textarea1quarter {
	width: 53px;
}
.textarea3quarters {
	width: 173px;
}
.textarea1third {
	width: 73px;
}
.textarea2thirds {
	width: 153px;
}
.error {
	color: rgb(255, 0, 0); font-weight: bold;
}
.resultstable {
	border-top-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.resultstablegray {
	border-top-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(204, 204, 204); border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.resultstable td {
	padding: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(242, 242, 242);
}
tr.resultswhite td {
	padding: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(242, 242, 242);
}
tr.resultswhitesmall td {
	padding: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(242, 242, 242);
}
tr.resultsgray td {
	padding: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(230, 230, 230);
}
tr.resultsgraysmall td {
	padding: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(230, 230, 230);
}
.resultstable tr.alt td {
	padding: 2px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(230, 230, 230);
}
.resultstable .required {
	background: url("../images/icon_required.gif") no-repeat 2px 5px rgb(255, 255, 255); padding-left: 12px;
}
.resultstablegray .required {
	background: url("../images/icon_required.gif") no-repeat 2px 5px rgb(255, 255, 255); padding-left: 12px;
}
.resultstable th {
	padding: 4px 2px; text-align: left; color: rgb(32, 32, 32); font-size: 11px; font-weight: bold; vertical-align: top; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(255, 255, 255);
}
.resultstablegray th {
	padding: 4px 2px; text-align: left; color: rgb(32, 32, 32); font-size: 11px; font-weight: bold; vertical-align: top; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(255, 255, 255);
}
td.resultstableheader {
	padding: 4px 2px; text-align: left; color: rgb(32, 32, 32); font-size: 11px; font-weight: bold; vertical-align: top; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(255, 255, 255);
}
.resultsheader {
	padding: 4px 2px; text-align: left; color: rgb(32, 32, 32); font-size: 11px; font-weight: bold; vertical-align: top; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; background-color: rgb(255, 255, 255);
}
.resultstable th a {
	color: rgb(32, 32, 32);
}
.resultstablegray th a {
	color: rgb(32, 32, 32);
}
td.center {
	text-align: center;
}
.steps {
	list-style: none; margin: 5px 0px 0px; padding: 0px;
}
.steps li {
	margin: 0px 15px 0px 0px; height: 17px; line-height: 17px; padding-top: 0px; font-size: 11px; float: left; display: block;
}
.steps li.alt {
	display: none;
}
.steps li a {
	color: rgb(102, 102, 102); text-decoration: none;
}
.steps li span {
	padding: 0px 6px 0px 5px; font-size: 11px;
}
.steps li.on {
	background: url("../images/icon_step_on.gif") no-repeat left; color: rgb(102, 0, 153); font-weight: bold;
}
.steps li.on span {
	color: rgb(255, 255, 255);
}
.steps li.off {
	background: url("../images/icon_step_off.gif") no-repeat left; color: rgb(102, 102, 102);
}
.floatingWindow#ccSecureWin {
	background: 0px 0px rgb(255, 255, 255); border: 2px solid rgb(204, 204, 204); border-image: none; left: 100px; top: 100px; width: 410px; color: rgb(102, 102, 102); display: block; position: absolute; z-index: 2;
}
