.moduleSafariHide {
	left: -9999px; top: -9999px; position: absolute;
}
.moduleSafariShow {
	position: inherit;
}
.module {
	background: rgb(245, 245, 245); margin: 0px 0px 15px; border: 1px solid rgb(139, 80, 168); border-image: none; width: 99.9%; font-family: arial; float: left;
}
.moduleOptional {
	background: rgb(255, 255, 255); margin: 0px 0px 15px; border: 1px solid rgb(204, 204, 204); border-image: none; width: 99.9%; font-family: arial; float: left;
}
.modulePreference {
	background: rgb(242, 243, 255); margin: 0px 0px 15px; border: 1px solid rgb(102, 102, 102); border-image: none; width: 99.9%; font-family: arial; float: left;
}
.moduleHeader {
	width: 100%; font-weight: bold; border-bottom-color: rgb(102, 0, 153); border-bottom-width: 2px; border-bottom-style: solid; float: left; cursor: pointer;
}
.moduleOptionalHeader {
	width: 100%; font-weight: normal; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 2px; border-bottom-style: solid; float: left; cursor: pointer;
}
.moduleHeaderNonCollapsable {
	width: 100%; font-weight: bold; border-bottom-color: rgb(102, 0, 153); border-bottom-width: 2px; border-bottom-style: solid; float: left;
}
.moduleOptionalHeaderNonCollapsable {
	width: 100%; font-weight: normal; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 2px; border-bottom-style: solid; float: left;
}
.moduleHeaderTitle {
	padding: 4px 7px; color: rgb(102, 0, 153); font-size: 15px; float: left;
}
.moduleOptionalHeaderTitle {
	padding: 4px 7px; color: rgb(0, 0, 0); font-size: 15px; float: left;
}
.moduleHeaderButtons {
	padding: 3px 7px 4px; float: right;
}
.moduleHeaderHelp {
	margin: 2px 0px 0px 8px; color: rgb(0, 0, 0); padding-left: 15px; font-size: 12px; font-weight: bold; text-decoration: underline; float: left; cursor: pointer; background-image: url("/framework/image/module_help.gif"); background-repeat: no-repeat;
}
.moduleHeaderHelp:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.moduleHeaderEdit {
	margin: 2px 0px 0px 8px; color: rgb(0, 0, 0); padding-left: 15px; font-size: 12px; font-weight: bold; text-decoration: underline; float: left; display: none; cursor: pointer; background-image: url("/framework/image/module_edit.gif"); background-repeat: no-repeat;
}
.moduleHeaderHide {
	margin: 2px 0px 0px 8px; color: rgb(0, 0, 0); padding-left: 15px; font-size: 12px; font-weight: bold; text-decoration: underline; float: left; display: block; cursor: pointer; background-image: url("/framework/image/module_hide.gif"); background-repeat: no-repeat;
}
.moduleExpanded {
	padding: 7px 0px 7px 3px; width: 98%; font-size: 11px; float: left;
}
.moduleCollapsed {
	padding: 7px 0px 7px 3px; width: 98%; font-size: 11px; font-weight: bold; float: left; display: none;
}
.moduleCollapsedOptional {
	padding: 7px 0px 7px 3px; width: 98%; font-size: 11px; font-weight: normal; float: left; display: none;
}
.moduleExpandedDefaultCollapsedMode {
	padding: 7px 0px 7px 3px; width: 98%; font-size: 11px; float: left;
}
.moduleCollapsedDefaultCollapsedMode {
	padding: 7px 0px 7px 3px; width: 98%; font-size: 11px; font-weight: bold; float: left; display: block;
}
.moduleCollapsedOptionalDefaultCollapsedMode {
	padding: 7px 0px 7px 3px; width: 98%; font-size: 11px; font-weight: normal; float: left; display: block;
}
.tableStyle {
	border-top-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; float: left;
}
.tableContentsHeader {
	background: rgb(255, 255, 255); float: left;
}
.tableContentsHeaderNotVisible {
	background: rgb(255, 255, 255); height: 0px; float: left;
}
.tableContents {
	background: rgb(230, 230, 230); width: 100%; height: 100%; font-family: Arial, sans-serif; font-size: 11px; float: left;
}
.tableContentsRows {
	width: 100%; height: 100%; overflow: auto; float: left;
}
.tableRowOdd {
	background: rgb(230, 230, 230); float: left;
}
.tableRowEven {
	background: rgb(242, 242, 242); float: left;
}
.tableRuler {
	font-family: Arial, sans-serif; font-size: 11px; visibility: hidden; position: absolute;
}
.tableNotLastCell {
	padding: 2px; color: rgb(0, 0, 0); overflow: hidden; font-family: Arial, sans-serif; font-size: 11px; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left;
}
.tableLastCell {
	padding: 2px; color: rgb(0, 0, 0); overflow: hidden; font-family: Arial, sans-serif; font-size: 11px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
.tableNotLastHeaderCell {
	background-position: right top; padding: 2px; color: rgb(0, 0, 0); overflow: hidden; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; border-left-color: rgb(204, 204, 204); border-left-width: 1px; border-left-style: solid; float: left; background-repeat: no-repeat;
}
.tableLastHeaderCell {
	background-position: right top; padding: 2px; color: rgb(0, 0, 0); overflow: hidden; font-family: Arial, sans-serif; font-size: 11px; font-weight: bold; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left; background-repeat: no-repeat;
}
.tableEmpty {
	background: rgb(255, 255, 255); width: 100%; height: 100%; font-family: Arial, sans-serif; font-size: 11px; float: left;
}
.tableEmptyHalf {
	width: 100%; height: 50%;
}
.floatingWindow {
	background: rgb(255, 255, 255); border: 2px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 0px; width: 100px; color: rgb(102, 102, 102); display: none; position: absolute; z-index: 2;
}
.floatingWindowRate {
	background: rgb(245, 245, 245); border: 2px solid rgb(102, 0, 153); border-image: none; left: 0px; top: 0px; width: 100px; height: 100px; display: none; position: absolute; z-index: 2;
}
.floatingWindowHeader {
	width: 99.9%; color: rgb(32, 32, 32); font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.floatingWindowHeaderRate {
	background: rgb(102, 0, 153); width: 100%; color: rgb(255, 255, 255); font-weight: bold; float: left;
}
.floatingWindowHeaderTitle {
	padding: 5px; color: rgb(32, 32, 32); float: left;
}
.floatingWindowHeaderTitleRate {
	padding: 2px; float: left;
}
.floatingWindowHeaderClose {
	padding: 5px; float: right; cursor: pointer;
}
.floatingWindowContent {
	padding: 5px; width: 95%; float: left;
}
.floatingWindowChooseMove {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 0px; width: 100px; color: rgb(102, 102, 102); display: none; position: absolute; z-index: 2;
}
.floatingWindowHeaderChooseMove {
	margin: 0px 0px 5px; color: rgb(32, 32, 32); font-weight: bold; float: left;
}
.floatingWindowHeaderCloseChooseMove {
	float: right; cursor: pointer;
}
.floatingWindowHeaderChooseMoveColumn {
	background: rgb(102, 0, 153); border: 1px solid rgb(102, 102, 102); border-image: none; width: 49%; color: rgb(255, 255, 255); padding-left: 5px; font-size: 12px; float: left;
}
.floatingWindowHeaderTitleChooseMove {
	padding: 5px 0px; font-family: arial; font-size: 11px; margin-right: 5px; margin-left: 5px; float: left;
}
.floatingWindowChooseMoveMiddleContent {
	width: 100%; font-family: arial; margin-right: 5px; margin-left: 5px; float: left;
}
.floatingWindowChooseMoveContent {
	background: rgb(230, 230, 230); border: 1px solid rgb(102, 102, 102); border-image: none; color: rgb(32, 32, 32); font-size: 11px; margin-bottom: 10px; float: left;
}
.floatingWindowChooseMoveDraggableItem {
	padding: 2px 0px 0px 5px; border: 1px solid rgb(242, 242, 242); border-image: none; height: 20px; vertical-align: middle; display: inline; position: absolute; cursor: move; background-color: rgb(230, 230, 230);
}
.floatingWindowChooseMoveAvailable {
	border: 1px solid rgb(242, 242, 242); border-image: none; height: 22px; vertical-align: middle; background-color: rgb(230, 230, 230);
}
.floatingWindowAlertIcon {
	height: 165px; color: rgb(102, 0, 153); padding-left: 25px; font-size: 12px; font-weight: bold; float: left; background-image: url("/framework/image/icon_alert_trans.gif"); background-repeat: no-repeat;
}
.floatingWindowAlertMessage {
	color: rgb(102, 0, 153); font-size: 12px; font-weight: normal;
}
.floatingWindowContentFull {
	background: rgb(230, 230, 230); margin: 0px 0px 10px; padding: 5px 0px 5px 5px; border: 1px solid rgb(204, 204, 204); border-image: none; clear: both; font-size: 12px; float: none;
}
.floatingWindowButtonFull {
	margin: 15px 0px 5px 5px; float: right;
}
.floatingWindowButtonGrey {
	background: repeat-x rgb(102, 102, 102); padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 20px; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; cursor: pointer;
}
.floatingWindowButtonGrey:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.floatingWindowButtonDefault {
	background: repeat-x rgb(102, 0, 153); margin: 0px 1px 0px 5px; padding: 0px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 20px; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; cursor: pointer;
}
.floatingWindowButtonDefault:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.chooseColumnsLink:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.floatingWindowChooseMove:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.floatingWindowCheckbox:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.calendarText {
	margin: 0px 0px 2px; padding: 0px 0px 0px 4px; border: 1px solid rgb(148, 150, 148); border-image: none; width: 120px; float: left; background-color: rgb(255, 255, 255);
}
.calendarIcon {
	background: url("/framework/image/calendar_icon.gif") no-repeat 0%; margin: 0px 0px 0px 3px; width: 20px; height: 20px; color: rgb(102, 0, 153); float: left; cursor: pointer;
}
.calendarWindow {
	left: 0px; top: 0px; width: 194px; height: 145px; text-align: center; font-family: Arial,sans-serif; font-size: 11px !important; display: none; position: absolute; background-color: rgb(255, 255, 255);
}
.calendarHeader {
	width: 192px; height: 20px; border-top-color: rgb(187, 187, 187); border-right-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid; float: left;
}
.calendarTitle {
	width: 156px; font-weight: bold; float: left;
}
.calendarTitleWithYearButtons {
	width: 110px; font-weight: bold; float: left;
}
.calendarEnablePreviousMonthButton {
	background: url("/framework/image/icon_arrow_enable_previous.gif") no-repeat 50%; width: 18px; height: 20px; float: left; cursor: pointer;
}
.calendarEnablePreviousMonthButton:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.calendarDisablePreviousMonthButton {
	background: url("/framework/image/icon_arrow_disable_previous.gif") no-repeat 50%; width: 18px; height: 20px; float: left;
}
.calendarDisableNextMonthButton {
	background: url("/framework/image/icon_arrow_disable_next.gif") no-repeat 50%; width: 18px; height: 20px; float: left;
}
.calendarEnableNextMonthButton {
	background: url("/framework/image/icon_arrow_enable_next.gif") no-repeat 50%; width: 18px; height: 20px; float: left; cursor: pointer;
}
.calendarEnableNextMonthButton:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.calendarEnablePreviousYearButton {
	background: url("/framework/image/icon_arrow_enable_previousyear.gif") no-repeat 50%; width: 18px; height: 20px; float: left; cursor: pointer;
}
.calendarEnablePreviousYearButton:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.calendarDisablePreviousYearButton {
	background: url("/framework/image/icon_arrow_disable_previousyear.gif") no-repeat 50%; width: 18px; height: 20px; float: left;
}
.calendarDisableNextYearButton {
	background: url("/framework/image/icon_arrow_disable_nextyear.gif") no-repeat 50%; width: 18px; height: 20px; float: left;
}
.calendarEnableNextYearButton {
	background: url("/framework/image/icon_arrow_enable_nextyear.gif") no-repeat 50%; width: 18px; height: 20px; float: left; cursor: pointer;
}
.calendarEnableNextYearButton:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
.calendarDaysOfTheWeek {
	width: 192px; font-weight: bold; border-right-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
.calendarBody {
	width: 192px; border-right-color: rgb(187, 187, 187); border-bottom-color: rgb(187, 187, 187); border-left-color: rgb(187, 187, 187); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; float: left;
}
.calendarWeek {
	float: left; background-color: rgb(230, 230, 230);
}
.calendarWeekDay {
	border: 1px solid rgb(255, 255, 255); border-image: none; width: 25px; height: 20px; text-align: center; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left;
}
.enabledDateStyle {
	padding: 2px 0px 0px; border: 1px solid rgb(230, 230, 230); border-image: none; width: 25px; height: 20px; text-align: center; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left; cursor: pointer;
}
.enabledDateStyle:focus {
	padding: 2px 0px 0px; border: 1px solid rgb(102, 0, 153); border-image: none; width: 25px; height: 20px; text-align: center; color: rgb(255, 255, 255) !important; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left; cursor: pointer; background-color: rgb(102, 0, 153);
}
.disabledDateStyle {
	padding: 2px 0px 0px; border: 1px solid rgb(230, 230, 230); border-image: none; width: 25px; height: 20px; text-align: center; color: rgb(170, 170, 170) !important; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left;
}
.selectedDateStyle {
	padding: 2px 0px 0px; border: 1px solid rgb(153, 153, 153); border-image: none; width: 25px; height: 20px; text-align: center; color: rgb(255, 255, 255) !important; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left; cursor: pointer; background-color: rgb(153, 153, 153);
}
.selectedDateStyle:focus {
	padding: 2px 0px 0px; border: 1px solid rgb(102, 0, 153); border-image: none; width: 25px; height: 20px; text-align: center; color: rgb(255, 255, 255) !important; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left; cursor: pointer; background-color: rgb(102, 0, 153);
}
.mouseOverDateStyle {
	padding: 2px 0px 0px; border: 1px solid rgb(102, 0, 153); border-image: none; width: 25px; height: 20px; text-align: center; color: rgb(255, 255, 255) !important; font-family: Arial,sans-serif !important; font-size: 11px !important; float: left; cursor: pointer; background-color: rgb(102, 0, 153);
}
.menuBar {
	margin: 0px; padding: 0px; text-decoration: none; list-style-type: none; list-style-image: none; cursor: pointer;
}
.menuBarContainer {
	padding: 0px; width: 745px; float: none;
}
.mainMenuBarItem {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 102, 102) rgb(102, 102, 102) currentColor; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; border-image: none; width: 150px; text-decoration: none; float: left; list-style-type: none; list-style-image: none; position: relative; background-color: rgb(245, 245, 245);
}
.mainMenuBarCurrentItem {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 102, 102) rgb(102, 102, 102) currentColor; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; border-image: none; width: 150px; text-decoration: none; float: left; list-style-type: none; list-style-image: none; position: relative; background-color: rgb(102, 102, 102);
}
.menuCurrentItemDivWithItemsDown {
	background-position: right; color: rgb(255, 255, 255); font-family: Arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; position: relative; font-size-adjust: none; background-image: url("/framework/image/arrow_white_down.gif"); background-repeat: no-repeat; background-color: rgb(102, 102, 102);
}
.menuCurrentItemDivWithItemsUp {
	background-position: right; color: rgb(255, 255, 255); font-family: Arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; position: relative; font-size-adjust: none; background-image: url("/framework/image/arrow_white_up.gif"); background-repeat: no-repeat; background-color: rgb(102, 102, 102);
}
.menuCurrentItemDivNoItems {
	color: rgb(255, 255, 255); font-family: Arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; position: relative; font-size-adjust: none; background-color: rgb(102, 102, 102);
}
.menuItemDivWithItemsDown {
	background-position: right; font-family: Arial,sans-serif; font-size: 11px; position: relative; font-size-adjust: none; background-image: url("/framework/image/arrow_down.gif"); background-repeat: no-repeat; background-color: rgb(245, 245, 245);
}
.menuItemDivWithItemsUp {
	background-position: right; font-family: Arial,sans-serif; font-size: 11px; position: relative; font-size-adjust: none; background-image: url("/framework/image/arrow_up.gif"); background-repeat: no-repeat; background-color: rgb(245, 245, 245);
}
.menuItemDivNoItems {
	font-family: Arial,sans-serif; font-size: 11px; position: relative; font-size-adjust: none;
}
.menuItemDivNoItemsHighlighted {
	color: rgb(255, 255, 255); font-family: Arial,sans-serif; font-size: 11px; position: relative; font-size-adjust: none; background-color: rgb(102, 0, 153);
}
.mainMenuBarItemHighlighted {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 102, 102) rgb(102, 102, 102) currentColor; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; border-image: none; color: rgb(255, 255, 255); font-family: Arial,sans-serif; font-size: 11px; text-decoration: none; float: left; list-style-type: none; list-style-image: none; font-size-adjust: none; background-color: rgb(102, 0, 153);
}
.mainMenuBarItemNoItems {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 102, 102) rgb(102, 102, 102) currentColor; margin: 0px 2px 0px 0px; padding: 2px 2px 2px 6px; border-image: none; font-family: Arial,sans-serif; font-size: 11px; text-decoration: none; float: left; list-style-type: none; list-style-image: none; font-size-adjust: none; background-color: rgb(245, 245, 245);
}
.firstMenuItemHighlighted {
	list-style: none; padding: 2px 2px 2px 6px; border: 1px solid rgb(102, 0, 153); border-image: none; color: rgb(255, 255, 255); font-size: 11px; font-weight: normal; text-decoration: none; display: block; z-index: 1; background-color: rgb(102, 0, 153); postion: relative;
}
.menuItemHighlighted {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 0, 153); list-style: none; padding: 2px 2px 2px 6px; color: rgb(255, 255, 255); font-size: 11px; font-weight: normal; text-decoration: none; display: block; z-index: 1; background-color: rgb(102, 0, 153); postion: relative;
}
.menuItemsContainer {
	margin: 0pt; padding: 0pt; left: 0pt; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: none; position: absolute; z-index: 1;
}
.firstMenuItem {
	list-style: none; padding: 2px 2px 2px 6px; border: 1px solid rgb(102, 102, 102); border-image: none; color: rgb(32, 32, 32); font-size: 11px; font-weight: normal; text-decoration: none; display: block; z-index: 1; background-color: rgb(244, 244, 244); postion: relative;
}
.menuItem {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(102, 102, 102) rgb(102, 102, 102); list-style: none; padding: 2px 2px 2px 6px; border-image: none; color: rgb(32, 32, 32); font-size: 11px; font-weight: normal; text-decoration: none; display: block; z-index: 1; background-color: rgb(244, 244, 244); postion: relative;
}
.helpMenuContainer {
	padding: 2px 0px 0px 15px; width: 160px; float: right; cursor: pointer;
}
.helpMenuTitle {
	list-style: none; height: 20px; padding-left: 0px; text-decoration: none; margin-left: 0px; float: left;
}
.helpMenuIcon {
	margin: 0pt; padding: 0pt; width: 18px; height: 20px; text-decoration: none; float: left; background-image: url("/framework/image/icon_help.gif"); background-repeat: no-repeat;
}
.helpMenuDivArrowDown {
	background-position: 95%; padding: 2px; height: 14px; text-align: center; font-family: Arial,sans-serif; font-size: 11px; text-decoration: none; font-size-adjust: none; background-image: url("/framework/image/arrow_down.gif"); background-repeat: no-repeat; background-color: rgb(204, 204, 204);
}
.helpMenuDivArrowUp {
	background-position: 95%; padding: 2px; height: 14px; text-align: center; font-family: Arial,sans-serif; font-size: 11px; text-decoration: none; font-size-adjust: none; background-image: url("/framework/image/arrow_up.gif"); background-repeat: no-repeat; background-color: rgb(204, 204, 204);
}
.helpfirstMenuItemHighlighted {
	list-style: none; padding: 2px 2px 2px 6px; border: 1px solid rgb(102, 0, 153); border-image: none; height: 15px; color: rgb(255, 255, 255); font-size: 11px; font-weight: normal; text-decoration: none; display: block; background-color: rgb(102, 0, 153);
}
.helpmenuItemHighlighted {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(102, 0, 153); list-style: none; padding: 2px 2px 2px 6px; height: 15px; color: rgb(255, 255, 255); font-size: 11px; font-weight: normal; text-decoration: none; display: block; background-color: rgb(102, 0, 153);
}
.helpMenuItemsContainer {
	margin: 0pt; padding: 0pt; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; display: none; position: absolute; z-index: 1;
}
.firstHelpMenuItem {
	list-style: none; padding: 2px 2px 2px 6px; border: 1px solid rgb(102, 102, 102); border-image: none; height: 15px; color: rgb(32, 32, 32); font-size: 11px; font-weight: normal; text-decoration: none; display: block; background-color: rgb(244, 244, 244);
}
.helpMenuItem {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(102, 102, 102) rgb(102, 102, 102); list-style: none; padding: 2px 2px 2px 6px; border-image: none; height: 15px; color: rgb(32, 32, 32); font-size: 11px; font-weight: normal; text-decoration: none; float: none; display: block; background-color: rgb(244, 244, 244);
}
.suggestPopup {
	position: relative;
}
.suggestSearchable {
	margin-top: -2px; position: absolute;
}
.leftAligned {
	margin: 2px; float: left;
}
.firstLeftAligned {
	margin-right: 2px; float: left;
}
.alphaChar {
	margin: 2px; color: rgb(102, 0, 153); font-weight: bold; text-decoration: underline; float: left; cursor: pointer;
}
.alphaCharDisabled {
	margin: 2px; color: rgb(0, 0, 0); font-weight: normal; float: left;
}
.alphaCharSelected {
	margin: 2px; color: rgb(102, 0, 153); font-weight: bold; float: left; cursor: pointer;
}
.outerDiv {
	width: 280px; height: 95px; position: absolute; z-index: 3;
}
.busyDiv {
	border: thin solid rgb(102, 102, 102); border-image: none; left: 0px; top: 0px; width: 270px; height: 85px; position: relative; z-index: 3; background-color: rgb(204, 204, 204);
}
.indicator {
	left: 25px; top: 20px; width: 220px; height: 19px; position: absolute; z-index: 3; background-image: url("/framework/image/busy.gif"); background-repeat: no-repeat;
}
.busyMessage {
	top: 45px; width: 100%; text-align: center; color: rgb(102, 0, 153); position: absolute;
}
.shadowDiv {
	left: 10px; top: 10px; width: 270px; height: 85px; position: absolute; opacity: 0.5; background-color: rgb(0, 0, 0);
}
.dropDownButton:focus {
	outline: rgb(102, 0, 153) dashed 1px;
}
