<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    verbose="true"
    colors="true"
	bootstrap ="autoloader.php">
    <testsuites>
        <testsuite name="PNServer">
            <directory>SKien/Test/PNServer</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">SKien/PNServer</directory>
            <directory suffix=".php">SKien/PNServer/Utils</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
        <log type="coverage-html" target="SKien/Test/PNServer/coverage"/>
        <log type="coverage-clover" target="SKien/Test/PNServer/coverage/clover.xml"/>
    </logging>
	
    <php>
		<!-- some valid data needed for lot of tests-->
        <const name="VALID_SUBJECT" value = "mailto:s.kien@online.de" />
        <const name="VALID_PUBLIC_KEY" value = "BDtOCcUUTYvuUzx9ktgYs3mB6tQCjFLNfOkuiaIi_2LNosLbHQY6P91eMzQ8opTDLK_PjJHsjMSiJ-MUOeSjV8E" />
        <const name="VALID_PRIVATE_KEY" value = "juLDCbPNbObvn-89_o0SEbnBZLMWxlVEjGypyxHEh2M" />
        <const name="VALID_ENDPOINT" value = "https://fcm.googleapis.com/fcm/send/f8PIq7EL6xI:APA91bFgD2qA0Goo_6sWgWVDKclh5Sm1Gf1BtYZw3rePs_GHqmC9l2N92I4QhLQtPmyB18HYYseFHLhvMbpq-oGz2Jtt8AVExmNU9R3K9Z-Gaiq6rQxig1WT4ND_5PSXTjuth-GoGggt" />
		<const name="VALID_P256H" value = "BEQrfuNX-ZrXPf0Mm-IdVMO1LMpu5N3ifgcyeUD2nYwuUhRUDmn_wVOM3eQyYux5vW2B8-TyTYco4-bFKKR02IA" />
		<const name="VALID_AUTH" value = "jOfywakW_srfHhMF-NiZ3Q" />
		
        <var name="MYSQL_HOST" value="localhost" />
        <var name="MYSQL_DBNAME" value="phpUnit" />
        <var name="MYSQL_USER" value="phpUnit" />
        <var name="MYSQL_PASSWD" value="phpunitpwd" />
    </php>	
</phpunit>
