/* RDX override CSS req. */

.header_parent_div
{
  display:none !important ;
}

.view_div_decorator
{
	border: none !important;
	height:100%; 
}
.view_div_decorator > div{
	height:100%;
}
.rdx_message_container
{
 display : none !important;
}

.center_panel
{
 display : none !important;
}

.popup_info
{
 display : none !important;  
}

.ns_body
{
	background-color: #000;
	font-size:11px;
	background-image: url('X1-bg-img.jpg'); 
	background-size:cover;
}
.ns_content
{
	display : none !important;
	margin:0 auto !important;
	margin-top:40px !important;
    width:450px !important;
	border:1px solid #195DC3;
	box-shadow:0px 0px 40px rgba(25, 93, 195, 0.5);
	background: rgb(44,44,44); /* Old browsers */ background: -moz-linear-gradient(top, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(25%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(44,44,44,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(44,44,44,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(44,44,44,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(44,44,44,1) 0%,rgba(0,0,0,1) 25%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.form_inline {
    border: 0 !important;
}
.form_inline .configure_view_top_panel {
    border: 0 !important;
}
.form_base_container {
	border: 0 !important;
}
.rdx_top_panel {
    background-color: transparent;
    overflow: hidden;
}
.rdx_title_panel {
	color:#ABABAB !important;
	font-size: 16px !important;
	text-shadow: none !important;
	
}
.epa_content
{
	color:#FFF !important;
}
.form_buttons
{
	background-color: transparent;
	border:none;
}
.form_buttons td
{
	float:right;
}
.rdx_blue_button
{
	border-color:#5f5f5f;
	background: rgb(44,44,44); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(44,44,44,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,44,44,1)), color-stop(100%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,44,44,1) 0%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(44,44,44,1) 0%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	width:95px;
	padding:1px;	
}

/*RDX override css ends */

/*authentication stuff...*/
#logonbox-logonform .field
{
    clear: both;
    padding: 3px 0 3px 0;
    color: #666666;
}

#logonbox-logonform .field .left
{
   float: left;
	text-align: right;
    
	width:170px;
	font-size: 14px;
	white-space: nowrap;
	margin-right: 20px;
	height: 40px;
	color: #f9f9f9;
	color: rgba(249,249,249,0.9);
	line-height: 40px;
}
.logonbox-inside .row label {
	display: inline-block;
	font-size: 14px;
	color: #f9f9f9;
	color: rgba(249,249,249,0.9);
	text-align: right;
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
}


#logonbox-logonform .field .right
{
    float: left;
}

/* messages: errors, warnings, information etc...*/
#logonbox-logonform .error,
#logonbox-logonform .warning,
#logonbox-logonform .information,
#logonbox-logonform .confirmation,
#logonbox-logonform .plain
{
    margin: 0 0 8px 0;
    padding: 0px 0;
    vertical-align:middle;
    text-align:left;
    background-repeat: no-repeat;
    background-position: left top;
}
#logonbox-logonform a.plain{
	text-decoration:underline;
	cursor: pointer;
}
#logonbox-logonform .error
{
    background-image: url('/vpn/media/error.png'); /*making all image paths absolute due to file restructuring */
}

#logonbox-logonform .error, 
#logonbox-logonform .warning,
#logonbox-logonform .information,
#logonbox-logonform .confirmation,
#logonbox-logonform .plain
{
    color: white;
}

#logonbox-logonform .warning
{
    background-image: url('/vpn/media/warning.png');
}

#logonbox-logonform .information
{     
    background-image: url("/vpn/media/info.png");
    background-position: 1px 50%;
    display: list-item;
    list-style: none outside none;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 0;
    
}

#logonbox-logonform .error
{
    background-image: url("/vpn/media/error.png");
    background-position: 1px 10px;
    display: list-item;
    list-style: none outside none;
    margin-bottom: 11px;
    padding-left: 20px;
    padding-top: 10px;
	margin-left: 188px;
	font-size:14px;
}
#logonbox-logonform .error.errorpage
{
	margin-left: 0;
}

#logonbox-logonform .confirmation
{
    background-image: url('/vpn/media/tick.png');
    padding-left: 20px;
}

#logonbox-logonform .plain
{
    background-image: none;
    padding-left: 0;
	line-height:19px;
	text-align: left;
	float: left;
	display: inline-block;
	font-size: 14px;

}

#logonbox-logonform .plain.input_labels{
	width:170px;
	overflow: hidden;
	text-overflow:ellipsis;
	text-align:right;
}
#logonbox-logonform  .left .plain{
	line-height:40px;
}
#logonbox-logonform  .left .plain #ctl08_scanInProgress{
	line-height:23px;
}
#logonbox-logonform .assistiveText
{
    padding: 5px;
    float: left;
}

#logonbox-logonform .assistiveText img
{    
    padding-top: 4px;
}

#logonbox-logonform .field .checkbox
{
    margin: 0 0 5px 0;
}
#logonbox-logonform .field .checkbox input
{
    margin:0;
}
#logonbox-logonform .field .checkbox label
{
    margin-left:2px;
    vertical-align: baseline;
}

#logonbox-logonform .spinner
{
    text-align:right;
    padding: 6px 0px;
    padding-right: 20px;
    position: absolute;
} 
/*
#logonbox-logonform 
.ctxsui-authentication-formTitle
{
    color: #79B9E7;
    font-size: 30px;
    font-weight: normal;
    margin: 55px 0 20px;
}*/

#logonbelt-topshadow {
/*    background: url("../../../media/Screen_shadow_top.png") no-repeat transparent;*/       /*Image doesn't exist on server */
	position: relative;
	top: 205px;
	margin: 0 auto;
	width: 100%;
	height: 15px;
}

#logonbelt-bottomshadow {
/*    background: url("../../../media/Screen_shadow_bottom.png") no-repeat transparent;*/    /*Image doesn't exist on server */
	position: relative;
	bottom: 0;
	margin: auto; 
	width: 700px;
	height: 80px;
	background-position: center;
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:center;
	
}

/*Sign on Box*/
#logonbox-container
{
/*	background: url("../media/VerticalGreenBarOnly.png") repeat-y scroll 0 0 transparent;   */
    min-height: 230px;
    margin: auto;
    min-width: 654px;
/*  position: relative;
    top: 205px;  */
	
}

#logonbox-innerbox {
    /*background: url("../media/Screen_SemiTranslucent.png");   */
	background: url("/vpn/media/logonbox.png") repeat 0 0;
	background: rgba(63,54,67,.8);
    display: table;
    /*height:242px;   */
    position: relative;
    width: 100%;
 }

/*End of Authentication Box*/

#authentication
{   
 /* height: 100%;  */
    width: 100%;
	position: relative;
    top: 50%;
} 

#logonbox-logonform
{
    /* display: table-cell;*/
    width: 627px;
    padding: 30px 47px 40px 20px;
}

.fr #logonbox-logonform
{
    width: 330px;
}

.es #logonbox-logonform
{
    width: 310px;
}

.ru #logonbox-logonform
{
    width: 340px;
}

#logonbox-logoarea
{
    color: white;
    display: table-cell;
    font-size: 13px;
    width: 32%;
	background: url("/vpn/media/ns_gateway_logo_center.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-position-x: 100%;
	background-position-y: 50%;
}
#logonbox-logoarea.NS-AAA{
    background-image: url("/vpn/media/NetScaler-AAA-logo-center.png");
}

#logonbox-logonform label
{ 
    color: white;
    display: table-cell;
    font-size: 12px;
    height: 20px;
    vertical-align: bottom;
}  

#logonbox-logonform input[type=text],
#logonbox-logonform input[type=password],
#logonbox-logonform select
{
   
	height: 40px;
	line-height:40px;
	width: 350px;
	background: #fff;
	outline: none;
	border: none;
	padding-left: 10px;
	font-size: 14px;
	padding-left: 10px;
	outline: none;
	color:#333;
}
#logonbox-logonform select{
	border-radius:0px;
}
#logonbox-logonform option{
	padding:5px 0px 5px 10px;
}
 .input {
	width: 350px;
	height: 40px;
	background: #fff;
	outline: none;
	border: none;
	padding-left: 10px;
	font-size: 14px;
}
 
#logonbox-logonform input[type=text]:focus,
#logonbox-logonform input[type=password]:focus
{
  /*  background-image: url(/vpn/media/Chrome_field_hilight.png);  */
    border-color: #005FA5;
}

.domain_select{
	
	min-width: 107px;
	min-height: 25px;
	background: #e2e3e3;
	border-radius: 3px;
	border: 1px solid #c2c3c3;
 }
 
 .domain_select:focus{
	background:white
 }

#logonbox-logonform .buttons .right 
{
    
}

#logonbox-logonform .buttons .centeredButtons
{
    text-align: center;
}

#logonbox-logonform .buttons .centeredButtons .right
{
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: inline;
}

.logofferrors
{	
    font-size: 12px;
    margin: 30px auto;
}

.logoff-errormessage
{
    margin-top: 10px;
    text-align: center;
}

#authentication.override_height{
	height: 100%;
	top: 0;
	left: 0;
}

/*
begin: for VPN choices page
*/
#VPN
{
    /*
    width: 710px;
	width: 60em;
	*/
    
}

.VPNcell
{
    /*
    float: left;
	*/
    /*
    width: 329px;
	*/
    width: 28em;
    min-height: 176px;
    height: auto !important;
    /*
    height: 176px;
	*/
    height: 16em;
    padding: 0px;
}

#VPN a
{
    color: #000000;
    text-decoration: none;
    padding: 0px 20px 20px 45px;    
    min-height: 136px;   
}

#VPN a:link,
#VPN a:visited,
#VPN a:hover
{
    text-decoration: none;
}

#VPN a:hover
{
    border: 1px dotted silver;
}

#VPN a.AccessGatewayLink,
#VPN a.AccessGatewayLink:link,
#VPN a.AccessGatewayLink:visited
{
    background: url(/vpns/images/AccessGateway_icon.png) no-repeat top left;
}

#VPN a.AccessGatewayLink:hover
{
    background: url(/vpns/images/AccessGatewayHover_icon.png) no-repeat top left;
}


#VPN a.ActiveXLink,
#VPN a.ActiveXLink:link,
#VPN a.ActiveXLink:visited
{
    background: url(/vpns/images/ActiveX_icon.png) no-repeat top left;
}

#VPN a.ActiveXLink:hover
{
    background: url(/vpns/images/ActiveXHover_icon.png) no-repeat top left;
}

#VPN a.JAVALink,
#VPN a.JAVALink:link,
#VPN a.JAVALink:visited
{
    background: url(/vpns/images/JAVA_icon.png) no-repeat top left;
}

#VPN a.JavaLink:hover
{
    background: url(/vpns/images/JAVAHover_icon.png) no-repeat top left;
}

#VPN a.WebUILink,
#VPN a.WebUILink:link,
#VPN a.WebUILink:visited
{
    background: url(/vpns/images/WebUI_icon.png) no-repeat top left;
}

#VPN a.WebUILink:hover
{
    background: url(/vpns/images/WebUIHover_icon.png) no-repeat top left;
}

#VPN a.ClientlessLink,
#VPN a.ClientlessLink:link,
#VPN a.ClientlessLink:visited
{
    background: url(/vpns/images/Clientless_icon.png) no-repeat top left;
}

#VPN a.ClientlessLink:hover
{
    background: url(/vpns/images/ClientlessHover_icon.png) no-repeat top left;
}

#VPN a.LogoffLink,
#VPN a.LogoffLink:link,
#VPN a.LogoffLink:visited
{
    background: url(/vpns/images/Logoff_icon.png) no-repeat top left;
}

#VPN a.LogoffLink:hover
{
    background: url(/vpns/images/LogoffHover_icon.png) no-repeat top left;
}

.linkH4,
.linkP,
.linkBullet
{
    display: block;
}

.linkH4
{
    font-size: 8px;
    margin-bottom: 10px;
    font-weight: bold;
}

.linkP
{
    padding-bottom: 5px;
	font-size : 8px;
}

.linkBullet
{
    background: transparent url(/vpn/images/BulletArrow.gif) no-repeat center left;
    padding: 0 0 5px 15px;

}

.plugincolumn
{
	
}
/*
end: for VPN choices page
*/


.maindiv{
padding-left: 200px;
}

/* eula stuff */
.eula_title{
	font-size: 20px;
	color: white;
	padding: 6px 20px;
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	width: 900px;
	margin: auto;
	box-sizing: border-box; 
}

.button_bar{
	background: url("/vpn/media/o20.png") repeat 0 0;
	background-color: rgba(255,255,255,.2);
	color: #fff;
	padding: 8px 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 900px;
	margin: auto;
	box-sizing: border-box; 
}

.header{
	height:60px;
	color: #434b56;
	background-color: #f4f5f6;
/*	min-width:1024px;  */
	z-index:1;
	position: relative;
	box-sizing: content-box;
}

.eula .header {	   
	height: 60px;
	padding:0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 900px;
	margin: auto;
}

.eula .header div img,
.eula .header div img + div {
	float: left;
}

.eula .agreement {
	background: url("/vpn/media/o10.png") repeat 0 0;
	background-color: rgba(255,255,255,.1);
	color: #fff;
	padding:10px 20px;
	line-height: 150%;
	top: 103px;
	position: absolute;
	overflow-y: auto;
	bottom: 40px;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
	word-wrap: break-word;
}
.branding {
	float: left;
	display: table;
	width: 700px;
}
.branding > div {
	display:table-cell;
	font-size: 18px;
	font-weight: lighter;
	vertical-align: middle;
	padding: 5px 5px 5px 15px;
	height:60px;
	box-sizing: border-box
}
.branding > div img {
	max-height: 30px;
}



.eula_check{
	padding: 0px 0px 10px;
	color: white;
	display:inline-block;
	position:relative;
	margin-left:186px;
}

.eula_check > input{
	float:left;
}


.eula{
	display: none;
	position:fixed;
	top:0px;
	z-index:1;
	bottom:0px;
	left: 0px;
	right: 0px; 
	z-index: 1000;
	background-image: url('/vpn/media/X1-bg-img.jpg');
	background-size:cover;
}

.eula > div{
	position: fixed;
	width: 100%;
	max-width: 900px;
	/* new addition  */
	bottom: 0px;
	top: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
/* eula stuff ends */

.terms_anchor{
	color : white;
	line-height: 19px;
	text-align: left;
	float: left;
	display: inline-block;
	font-size: 12px;
	margin: 0 0 8px 0;
	padding: 1px 0;
 }
 
 .form_text{
	font-size:12px;
	color:white;
	
 }

.message{
  display:inline-block;
  float: left;
  line-height:75px;
  margin-left: 20px;
  font-size:16px;
 }
/*  choices page css */
 
 .header-right {
	float: right;
	height: 60px;
	line-height:60px;
	position: relative;
	font-size: 13px;
	font-weight: lighter;
	cursor:pointer;
	min-width: 150px;
	max-width:320px;
	
}

.content_choices {
	padding: 30px;
	color: #fff !important; 
}
	
.content_choices .heading {
	font-size: 26px;
}

.block-container {
	margin-top: 20px;
}

.block-container .box {
	width: 31%;
	min-height: 202px;
	border: 1px solid #76838a;  
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	float: left;
	margin-left: 3%;
	
	
}

.block-container .box:hover {
	cursor: pointer;
	background: url("/vpn/media/o10.png") repeat 0 0;
	background: rgba(255,255,255,0.1);
	text-decoration:none;
}

.block-container .box:first-child {
	margin-left: 0;
}
.box-content-title{
	height:40px;
	font-weight: bold;
    color: white;
    margin-bottom: 15px;
}
.username{
	display:inline-block;
	margin-left: 20px;
	float:left;
}	
#username{
	display:inline-block;
	max-width:190px;
	text-overflow:ellipsis;
	overflow:hidden;
	float:left;
    white-space:nowrap;	
}
#hello{
	float:left;
}
.box-icon {
	/* width: 10%; */
	/* margin-right: 5%; */
	/* float: left; */
	text-align: center;
	margin:25px 0 20px 0;
}

.full-access {
	background:url(/vpn/media/full-vpn.png) no-repeat 50% 1px;
	display: inline-block;
	width: 100%;
	height: 95px;
}

.client-access {
	background:url(/vpn/media/cvpn.png) no-repeat 50% 1px;
	display: inline-block;
	width: 100%;
	height: 95px;
}

.ica-access {
	background:url(/vpn/media/ica-access.png) no-repeat 50% 1px;
	display: inline-block;
	width: 100%;
	height: 95px;
}

.box-content,
.box-content:hover {
	/* width: 85%; */
	/* float: left; */
	text-align: center;
	
}
.box-content{
	margin:20px;
}
.box a:hover{
	text-decoration:none;
}
.box-content-title p {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.box-content-title p:first-child {
	font-weight: 500;
}

.box-content-title p:last-child {
	font-weight: lighter;
}

.description {
	font-weight: lighter;
	line-height: 20px;
	color:#f9f9f9;
	color: rgba(249,249,249,0.8);
	font-size:12px;
}
.down-arrow {
	background:url(/vpn/media/arrow-dropdown.png) no-repeat 50% 50% ;
	display: inline-block;
	width: 9px;
	height: 6px;
	margin-left: 10px;
	margin-right: 20px;
}
	
 /*  choices page css */
 #choices_div
{
	padding:20px;
}

.choice_div{
	margin:0 0 10px;
	cursor:pointer;
	
}
.choice_div > div {
	width: 80%;
	float: left;
	margin-left: 10px; 
}

.choice_div > input
{
	float: left;
}

.choice_div_title{
	font-weight:bold;
}

.NUI_EmailContainer{
	height:100%;
}
/* css from ctxs.mainstyle.css */

html, body, #withscript
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	
/*	background-color: #08202C;   */
	font-family: Segoe UI ,Helvetica Neue, Helvetica, Segoe UI;
	font-size: 12px;
	color: #333333;
    min-width:1024px;
	overflow-y: auto;
}

html#homepage body{
	overflow-y: hidden;
}

html#homepage body{
	overflow-x:auto;
}
body{
	background-image: url('/vpn/media/X1-bg-img.jpg');
	background-size:cover;
}
div {
	padding: 0px;
}
.loaderimage
{
	left: 920px;
	top: 284px;
	margin-top: 30px;
	margin-bottom: 10px;
	background-image: url("/vpn/media/Loader.gif");
	background-repeat: no-repeat;
	width: 55px;
	height: 54px;
}
#logonbox-logonform .field.buttons .right{

}

div.custombutton
{
	padding-top: 4px;
}


.custombutton
{	
    background: #02a1c1;
    border:none;
    font-size: 12px;
    height: 25px;
    text-align: center;
    min-width: 75px;
    outline:none;
	color: #fff;
	border-radius: 0;
	line-height: 0;
	padding:0 5px;
	margin:0;
	cursor:pointer;
	margin-right:10px;
}
.custombutton.login_page{
	width:350px;
	height:40px;
	margin-top: 10px;
	font-size: 14px;
}
#logonbox-logonform .custombutton {
  clear: left;
}
.epabutton
{	
    float:right;
}

.fr .custombutton
{	
    width: 110px;
}

.es .custombutton
{	
    width: 90px;
}

.custombutton[disabled], .custombutton[disabled]:hover
{
	background: #b0b4b9;
	color: #666666;
}

.CTX_ContentTitleHeader
{
    font-size: 12pt;
    font-weight: 500;
	color:white;
	margin-bottom:15px;
}
.CTX_ContentTitleHeader.login_page{
	margin-left:190px;
}
.CTXMSAM_LogonFont{
	color:white;
}
.CTX_ContentTitleHeader.transfer_heading
{
	padding-left:40px; 
	padding-top:15px;
}

.topBar{
	background-color:#024136;
	width: 100%;
	height: 60px;	
}

.left_logo{
	background-image: url(/vpn/media/logo_CR.png);	
	background-repeat: no-repeat; 
	background-position: center left;
	height: 60px;
	width: 154px;
	margin-left:20px;
}

.mainPane
{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    left:0;
    right:0;
 /* border-top: 2px #999999 solid;
    border-bottom: 2px #999999 solid;  */
}

#commonBox
{
    border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	background: url("/vpn/media/o20.png") repeat 0 0;
	background: rgba(255,255,255,0.2);
    color: black;
    padding: 0;
}

#commonBox a,
#commonBox a:link,
#commonBox a:visited
{
    color: #3F3F3F;
    text-decoration:underline;
}

#commonBox a:hover
{
    color: #3F3F3F;
    text-decoration: underline;
}

.messageTitle
{
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
}

.bookmark_text{
	color:#ccc;
}

.username_text{
	color:#fff;
}

.bookmark_input{
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-webkit-border-radius: 2px;
	padding: 10px 5px;
}

/*
begin: for homepage
*/
.full_width
{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
 
.full_width_height
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li
{
    margin: 0;
    padding: 0;
}

.navBarDiv
{
  padding: 0;
  background: #3D3D3D url(/vpn/images/NavBarLink.gif) repeat-x top left;
  overflow:auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: auto;
}
/* removing unused styles from greenbubble css:
.navbar
{
	height: 26px;
	background-image: url(/vpn/images/NavBarLink.gif);
	background-repeat: repeat-x;	
}
*/

/* NAVIGATION  STYLE */
.nav {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 210px;
	padding-top:15px;
	background: url("/vpn/media/x1_nav.png") repeat 0 0;  
	background: rgba(0,0,0,.15);
	color: #f2f2f2;
	color: rgba(255,255,255,.7);
	font-size: 14px;
	z-index:10;

}

.nav .primary {}
.nav .primary ul,
.nav .secondary ul{
	list-style: none;
	margin:0;
	padding:0;
}

.nav .primary li{
	height: 40px;
	line-height:40px;
	white-space: nowrap;
	padding-left: 50px;
	cursor: pointer;
	max-width: 160px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.nav .primary li:hover{
	color: #fff;
	background-color:#315a68;
}
.nav .primary li.selected {
	background-color:#315a68;
	color: #fff;
}

.apps-icon{
	background-image: url('/logon/themes/Greenbubble/css/images/app.png');
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.files-icon{
	background-image: url('/logon/themes/Greenbubble/css/images/folder.png');
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.email_icon{
	background-image: url('/logon/themes/Greenbubble/css/images/mail.png');
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.ica_icon{
	background-image: url('/logon/themes/Greenbubble/css/images/ica.png');
	background-repeat: no-repeat;
	background-position: 15px 50%;
}
.add-icon{
	background-image: url('/logon/themes/Greenbubble/css/images/plus.png');
	background-repeat: no-repeat;
	background-position: 15px 50%;
}


.full-tunnel-switch {
	position:absolute;
	bottom:0;
	padding: 15px 10px 15px 40px;
	font-weight: bold;
	font-size: 13px;
	line-height:15px;
	cursor: pointer;
	background: url('/logon/themes/Greenbubble/css/images/gateway-lock.png') no-repeat 10px 50% #03342e;
	
}
.fill-tunnel-switch:hover {
	color:#fff;
}


.nav .secondary {
	position: absolute;
	bottom: 62px;
	left:1px;
	width: 100%;
}
.nav .secondary > div{
	
}

.nav .secondary > div:hover div.option-label {
	border-color: #3c7461;
	background-color:#03342e;/*background-color: rgba(1,33,22,.56);*/
	color:#fff;
	border-right:1px solid #03342e;
}

.nav .secondary div.option-label  {
	height: 42px;
	width: 100%;
	line-height:42px;
	padding-left: 40px;
	cursor: pointer;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	position:relative;
	z-index:2;
}
.nav .secondary > div .option-list {
	display: none;
	position:absolute;
	left: 119px;
	bottom: -18px;
	background-color:#03342e; /* 03342e background-color: rgba(1,33,22,.56);*/
	border: 1px solid #3c7461;
	z-index:1;
	overflow:auto;
	padding: 0 0 10px;
	font-size: 13px;
}
.nav .secondary > div .option-list ul{
	margin: 5px 0;
}
.nav .secondary > div:hover .option-list {
	display: block;
}
.nav .secondary .option-list li {
	height: 30px;
	line-height: 30px;
	padding: 2px 15px 2px 50px;
	white-space:nowrap;
	
	background-position: 25px 50%;
	background-size: 16px;
	background-repeat: no-repeat;
	cursor:pointer;
	width: 260px;
}
.tick {
	background: transparent url(/logon/themes/Greenbubble/css/images/tick.png) no-repeat 50%;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 7px;
}
.nav .secondary .option-list li:after {
	content: "";
	position:absolute;
	margin-top: 33px;
	left: 0;
	right: 0;
	height:1px;
	width:80%;
	margin-left:auto;
	margin-right: auto;
	background-color:#3c7461;
	background: -moz-linear-gradient(left, rgba(29,73,67,.1) 0%, #1d4943 50%, rgba(29,73,67,.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left left, left right, color-stop(0%,rgba(29,73,67,.1)), color-stop(50%,#1d4943), color-stop(50%,rgba(29,73,67,.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(29,73,67,.1) 0%,#1d4943 50%,rgba(29,73,67,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(29,73,67,.1) 0%,#1d4943 50%,rgba(29,73,67,.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(29,73,67,.1) 0%,#1d4943 50%,rgba(29,73,67,.1) 100%); /* IE10+ */
	background: linear-gradient(left right, rgba(29,73,67,.1) 0%,#1d4943 50%,rgba(29,73,67,.1) 100%); /* W3C */
}
.nav .secondary .option-list li:last-child::after {
	background: none;
}
.nav .secondary > div:hover .option-list {
	color: #f2f2f2;
	color: rgba(255,255,255,.7);
}
.nav .secondary .option-list li:hover {
	color:#fff;
}


/* Content */


.content-ctl00_applications_label,
.content-ctl00_webSites_label,
.content-id_FileTransfer ,
.content-id_Email{
	
	margin-left: 210px;
	height: 100%;
	overflow:hidden;
}
.content-ctl00_webSites_label {
	color: #fff;
	color: rgba(255,255,255,.5);
	font-size: 13px;
	
}

.content h2 {
	margin: 0 0 10px;
	font-weight: normal;
	color: #fff;
	color: rgba(255,255,255,.8);
	font-size: 17px;
}

.content 
{	height: 100%;
	overflow-y: auto;
	
	position: relative;
	top: -60px;
	padding-top: 60px;
}

.content-id_Email
{
	color : #fff;
	color: rgba(255,255,255,.5);
	font-size: 13px;
	
}

.bookmark-toolbar{
	width: 20%;
	height: 100%;
/*	background: url("/vpn/media/b30.png") repeat 0 0;
	background: rgba(0,0,0,.3);  */
	float: left;
	
}

.bookmark-toolbar.websites{
	width:100%;
	padding: 0px;
}
.bookmark-view{
	width: 80%;
	height: 100%;
	float: left;


}

.content-ctl00_applications_label,
.content-id_Email{
     background:#fff;
}

.navBar li
{
    display: inline;
}

.navBar a
{
    float: left;
    border-left:1px solid #646464;
    border-right:1px solid black;
    margin: 0;
    padding: 6px 6px;
	width:87px;
    text-align:center;
    white-space: nowrap;
    color: #FFFFFF;
	text-decoration: none;
}

.navBar #navEtchFiller
{
    float: left;
    width: 0px;
    border-left: 1px solid #646464;
    margin: 0;
    padding: 6px 0pt;
}

.none{
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 28px;
}

#none{
	color:white;
}

.navBar a:link,
.navBar a:visited,
{
  color: #FFFFFF;
  background: #3D3D3D url(/vpn/images/NavBarLink.gif) repeat-x top left;
  text-decoration: none;
}

.navBar a:hover,
.currentLink a:link,
.currentLink a:visited,
.currentLink a:hover
{
    color: #FFFFFF;
    background: #52ACEE url(/vpn/images/NavCurrentBarLink.gif) top left repeat-x;
    text-decoration: none;
}

.currentLink a:link,
.currentLink a:visited,
.currentLink a:hover
{
  font-weight: bold;
}

.CTX_CaxtonButtonBar
{
	height: 20px;
	background-color: #d4d4d4;
}

.CTX_CaxtonButtonLink
{
	height: 18px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	color: black;
	background-color: #d4d4d4; 
	cursor: default;
	border: 0px;
}

.CTX_CaxtonButtonLink_Hover
{
	height: 18px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	font-size: 11px;
	color: black;
	background-color: #d4d4d4;
	cursor: hand;
	border: 0px;
	text-decoration:underline;
}
/*
end: for homepage
*/
.changePasswordNameColumn
{
	width: 20ex;
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding: 15px 0;
}

.changePasswordPane
{
  padding: 0;
  /*background: url(/vpn/images/GreyGradient.gif) repeat-y;  */
  background-position: 24ex 0;
}

.changePasswordButtonPaddingLeft
{
	padding-left: 22ex;
}

.Apply_Cancel_OK{
	background-color: #02a1c1;
	border: 1px solid #3d578e;
	padding: 6px 10px;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
	border:none;
	margin-right:5px;
}

.buttonPaddingTop
{
	padding-top: 10px;
}

.topSolidBorder
{
   border-top: 1px solid #fff;
   border-top: 1px solid rgba(255,255,255,0.20);
   padding-top:15px;
}

.topDottedBorder
{
  /* border-top: 1px dotted #9baac0; */
}

.fadeLineSeparator
{
    clear: both;
    width: 100%;
    
    background: #FFF url(/vpn/images/FadeLine.gif) no-repeat top left;
}

#tabularView
{
    clear:both;
    float:left;
    width:100%;
    margin: 0;
    padding: 0;
	padding-top:15px;
	margin-bottom: 10px;
	border-top: 1px solid #efefef;
    border-top: 1px solid rgba(255,255,255,0.3);
   /*border-bottom: 1px #BBC6D6 solid;  */
}
#tabularView table
{
   width:100%;
   border-collapse: collapse;
}

#tabularView .leftColumn {
  width: 40%;
  padding: 2px 0px 2px 20px;
  vertical-align: top;
}

#tabularView .descriptionColumn {
  width: 55%;
  padding: 2px 20px 2px 0;
}

#tabularView .noLeftBorder {
    padding-left:0px;
}

#tabularView th
{
    padding: 5px 25px;
    color: #1C5492;
    text-align: left;
    background-color: #efefef;
}

#tabularView table td
{
   padding: 2px 20px;
   vertical-align: top;
}

#tabularView tr.row1 td
{
  /* background-color: #F7F7F7;   */
   color: black;
}

#tabularView img
{
    float: left;
    padding-right: 5px;
}

#tabularView p
{
   margin: 0 10px 0 20px;
}

#tabularView tr
{
    padding-left: 20px;
}

/*  For kernel dialogue*/
.dialogueForm
{
	margin:0;
}

.dialogueChallengeCell
{
	text-align:left;
}

.dialogueResponseCell
{
	text-align:right;
}

.dialogueSubmitCell
{
	padding-top:10px;
	text-align:right;
}

.transferLogonButtonRow
{
	text-align:right;
	padding-left:20px;
	padding-bottom:20px;
}

.buttonRow
{
	padding-top: 20px;
	padding-left: 20px; 
}

/* for changepwd page */
#feedbackArea
{
    margin:0;
    left:0;
    right:0;
    text-align:center;
}
#feedbackArea.feedback
{
    display: inline;
    width: 33.5em;
}
#feedbackArea.noFeedback
{
    display: none;
}

div.feedbackStyleSuccess, 
div.feedbackStyleInfo, 
div.feedbackStyleWarning, 
div.feedbackStyleError
{
    margin:0;
    left:0;
    right:0;
    max-width:none;
    text-align:left;

    width: 33.5em;
}

div.feedbackStyleSuccess,
div.feedbackStyleInfo,
div.feedbackStyleWarning,
div.feedbackStyleError
{
    color: black;
    padding-top: 8px;
    padding-right: 11px;
    padding-bottom: 8px;
    padding-left: 64px;
    font-size: 100%;
    max-width: 600px;
    margin-top: 50px;
}


div.feedbackStyleSuccess a,
div.feedbackStyleInfo a,
div.feedbackStyleWarning a,
div.feedbackStyleError a,
div.feedbackStyleSuccess a:link,
div.feedbackStyleInfo a:link,
div.feedbackStyleWarning a:link,
div.feedbackStyleError a:link,
div.feedbackStyleSuccess a:visited,
div.feedbackStyleInfo a:visited,
div.feedbackStyleWarning a:visited,
div.feedbackStyleError a:visited,
div.feedbackStyleSuccess a:hover,
div.feedbackStyleInfo a:hover,
div.feedbackStyleWarning a:hover,
div.feedbackStyleError a:hover
{
    color: #1260D4;
}

#feedbackStyle .messageStyle
{
	color:white;
}

div.feedbackStyleSuccess
{
    background: #576173 url(/vpn/images/Tick32.gif) no-repeat 21px 8px;
    background: rgba(255,255,255,0.2) url(/vpn/images/Tick32.gif) no-repeat 21px 8px;
    border:solid 1px #7c838c;
    border: solid 1px rgba(255,255,255,0.1);
    float: left;
    color: #C5C5C5;
}

div.feedbackStyleInfo
{
    background: #576173 url(/vpn/images/Info32.gif) no-repeat 21px 8px;
    background: rgba(255,255,255,0.2) url(/vpn/images/Info32.gif) no-repeat 21px 8px;
    border: solid 1px #999999;
    float: left;
    color: #C5C5C5;
}

div.feedbackStyleWarning
{
    background: #576173 url(/vpn/images/WarningAlert32.gif) no-repeat 21px 8px;
    background: rgba(255,255,255,0.2) url(/vpn/images/WarningAlert32.gif) no-repeat 21px 8px;
    border: solid 1px #9C371A;
    float: left;
    color: #C5C5C5;
}

div.feedbackStyleError
{
    background: #576173 url(/vpn/images/Error32.gif) no-repeat 21px 8px;
    background: rgba(255,255,255,0.2) url(/vpn/images/Error32.gif) no-repeat 21px 8px;
    border: solid 1px #820A0A;
    float: left;
    color: #C5C5C5;
}

.messageStyle
{
	display: block;
	width: 33.5em;
	min-height: 32px;
	height: auto !important;
	height: 32px;
}

.changePwdSuccess
{
    background-image: url('/vpn/media/tick.png');
	background-repeat: no-repeat;
	background-position: left center;
    padding-left: 20px;
}
/* css change passwd drop down in GB theme  */

.setting-dropdown{
	display:none;
	width: auto;
	background-color: #f4f5f6;
	font-size: 12px;
}
.dropdown-choices{
	padding: 15px 0 15px 20px;
	line-height: 0px;
		
}

.warning
{
	background-image: url('/vpn/images/WarningAlert32.gif');
	background-repeat: no-repeat;
	background-position: 40px 10px;
    padding-left: 40px;
}

/* css end for ctxs.mainstyle.css  */

/* css start for ctxs.ui.messagebox.css  */


.ctxsui-messagebox
{
    height: 152px;
    min-width: 388px;
	max-height: 300px;
	width: 510px;
    display: table;
	color: white;
}
.ctxsui-messagebox>.messagebox-top,
.ctxsui-messagebox>.messagebox-bottom,
.ctxsui-messagebox>.messagebox-middle
{
    display: table-row;
}
.ctxsui-messagebox .messagebox-top>div, 
.ctxsui-messagebox .messagebox-bottom>div, 
.ctxsui-messagebox .messagebox-middle>div
{
    display: table-cell;
}
.ctxsui-messagebox .messagebox-topleft
{
    background: url("/vpn/media/messagebox/topleft.png") no-repeat;
    width: 41px;
	min-width: 41px;
    height: 40px;
}
.ctxsui-messagebox .messagebox-topbody
{
    background: url("/vpn/media/messagebox/topbody.png") repeat-x;
}
.ctxsui-messagebox .messagebox-topright
{
    background: url("/vpn/media/messagebox/topright.png") no-repeat;
    width: 41px;
	min-width: 41px;
    height: 40px;
}
.ctxsui-messagebox .messagebox-bottomleft
{
    background: url("/vpn/media/messagebox/bottomleft.png") no-repeat;
    width: 41px;
    height: 40px;
}
.ctxsui-messagebox .messagebox-bottombody
{
    background: url("/vpn/media/messagebox/bottombody.png") repeat-x;
}
.ctxsui-messagebox .messagebox-bottomright
{
    background: url("/vpn/media/messagebox/bottomright.png") no-repeat;
    width: 41px;
    height: 40px;
}
.ctxsui-messagebox .messagebox-middleleft
{
    background: url("/vpn/media/messagebox/middleleft.png") repeat-y;
}
.ctxsui-messagebox .messagebox-middleright
{
    background: url("/vpn/media/messagebox/middleright.png") repeat-y;
}
.ctxsui-messagebox .messagebox-middlebody
{
	border-top: 1px solid #efefef;
    border: 1px solid rgba(255,255,255,0.1); 
	border-radius: 2px;
	background: url("/vpn/media/o20.png") repeat 0 0;
	background: rgba(255,255,255,0.2); 
	box-shadow: 0 0 20px rgba(0,0,0,0.2);

}


.ctxsui-messagebox .headermessage
{
    font-size: 16px;
    font-weight: normal;
    margin: 30px auto 30px auto;
    text-align: center;
	height: 100%;
    width: 100%;
}

.ctxsui-messagebox .ctxsAlert
{
	height: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.ctxsui-messagebox .ctxsAlert>.messagebox-title
{
}
.ctxsui-messagebox .ctxsAlert>.messagebox-body
{
	text-align: center;
}
.ctxsui-messagebox .ctxsAlert>.messagebox-buttons
{
	text-align: center;
	margin-top: 30px;
}

.dialogBoxOverlay
{
	position: fixed;
}

.dialogBoxOverlay .ctxsui-messagebox
{
	z-index: 2000;
}

.dialogBoxOverlay .cloud
{
	background-image: url("/vpn/media/dialogBox_overlay.png");
	background-repeat: no-repeat;
	height: 370px;
    width: 628px;
    z-index: 1500;
}

#mask
{
	background-color: black;
    display: block;
    opacity: 0;
    filter:Alpha(Opacity=0);
    position: fixed;
    top: 0;
	left: 0;
    z-index: 1000;
}

.messagetext
{
	text-align: center;
	color: white;
}

.custom_logo{
	background:url("/vpn/media/logo-unifiedgateway_header.png") 10px 50%;
	background-repeat: no-repeat;
	display: table-cell;
	font-size: 18px;
	font-weight: lighter;
	vertical-align: middle;
	padding: 5px 5px 5px 15px;
	height: 60px;
	box-sizing: border-box;
}

.header_top{
	display:none;
}

div#downloadArea{
	margin-top: 20px;
}

#downloadmsgBox p {margin: 5px 25px;}

#downloadmsgBox
{
	margin-top: 10px;
}
.min_width_800{
	min-width:800px;
}
.dropdown-separator{
	border-bottom: 1px solid #434b56;
    margin: 5px 7px 6px;
    padding-top: 1px;
    opacity: 0.2;
}
/*  css end for ctxs.ui.messagebox.css  */
