.ns_body,body,td,a,p,input,textarea,keygen,select,button {
    font-family: "citrixsans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_regular.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_regular.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_regular.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_regular.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_regular.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bold.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bold.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bold.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bold.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bold.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bolditalic.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bolditalic.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bolditalic.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bolditalic.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_bolditalic.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_italic.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_italic.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_italic.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_italic.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_italic.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_light.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_light.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_light.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_light.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_light.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_lightitalic.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_lightitalic.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_lightitalic.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_lightitalic.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_lightitalic.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibold.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibold.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibold.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibold.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibold.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "citrixsans";
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibolditalic.eot");
    src: url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibolditalic.eot?") format('eot'),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibolditalic.woff") format("woff"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibolditalic.ttf") format("truetype"),url("/vpn/js/rdx/core/css/fonts/citrix_sans/citrixsans_semibolditalic.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
    font-weight: 500;
    font-style: italic;
}